# Intellij
*.iml
.idea

# npm
node_modules

# build
.DS_Store
*.js.map
.env
yarn*
dist
test-vault/
main.js
styles.css
package-lock.json
.claude/settings.local.json
package-lock.json
